<!DOCTYPE html>
<html>
  <head>
    <title>Analytics</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/analytics/styles.css" type="text/css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com" rel="preconnect"/>
    <link href="https://fonts.gstatic.com" rel="preconnect"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/analytics/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Resolution (Rectangle) -->
      <div id="u386" class="ax_default box_1 transition notrs" data-label="Resolution">
        <div id="u386_div" class=""></div>
        <div id="u386_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Sidebar UI (Group) -->
      <div id="u387" class="ax_default" data-label="Sidebar UI" data-left="0" data-top="0" data-width="344" data-height="900" layer-opacity="1">

        <!-- Purple Background (Rectangle) -->
        <div id="u388" class="ax_default box_1 transition notrs" data-label="Purple Background">
          <div id="u388_div" class=""></div>
          <div id="u388_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- White Background (Rectangle) -->
        <div id="u389" class="ax_default box_1 transition notrs" data-label="White Background">
          <div id="u389_div" class=""></div>
          <div id="u389_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Sidebar Header (Group) -->
        <div id="u390" class="ax_default" data-label="Sidebar Header" data-left="103" data-top="16" data-width="138" data-height="138" layer-opacity="1">

          <!-- Profile Icon Group (Group) -->
          <div id="u391" class="ax_default" data-label="Profile Icon Group" data-left="103" data-top="16" data-width="138" data-height="138" layer-opacity="1">

            <!-- Profile Icon Background (Ellipse) -->
            <div id="u392" class="ax_default ellipse transition notrs" data-label="Profile Icon Background">
              <svg data="images/directory/profile_icon_background_u27.svg" id="u392_img" class="img generatedImage">

  <defs>
    <pattern id="u392_img_bgp" patternUnits="userSpaceOnUse" alignment="0 0" imageRepeat="None" />
    <mask fill="white" id="u392_img_cl1">
      <path d="M 0 69  C 0 30.359999999999996  30.359999999999996 0  69 0  C 107.64 0  138 30.359999999999996  138 69  C 138 107.64  107.64 138  69 138  C 30.359999999999996 138  0 107.64  0 69  Z " fill-rule="evenodd" />
    </mask>
  </defs>
  <g transform="matrix(1 0 0 1 -98 -1 )">
    <path d="M 0 69  C 0 30.359999999999996  30.359999999999996 0  69 0  C 107.64 0  138 30.359999999999996  138 69  C 138 107.64  107.64 138  69 138  C 30.359999999999996 138  0 107.64  0 69  Z " fill-rule="nonzero" fill="rgba(255, 255, 255, 1)" stroke="none" transform="matrix(1 0 0 1 103 16 )" class="fill" />
    <path d="M 0 69  C 0 30.359999999999996  30.359999999999996 0  69 0  C 107.64 0  138 30.359999999999996  138 69  C 138 107.64  107.64 138  69 138  C 30.359999999999996 138  0 107.64  0 69  Z " stroke-width="0" stroke-dasharray="0" stroke="rgba(121, 121, 121, 1)" fill="none" transform="matrix(1 0 0 1 103 16 )" class="stroke" mask="url(#u392_img_cl1)" />
  </g>
  <style>#u392_img { filter: drop-shadow(10px 0px 7.5px rgba(0, 0, 0, 0.34901960784313724)); }</style>
              </svg>
              <div id="u392_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Profile Icon (Image) -->
            <div id="u393" class="ax_default image transition notrs" data-label="Profile Icon">
              <img id="u393_img" class="img " src="images/directory/profile_icon_u28.svg"/>
              <div id="u393_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
        </div>

        <!-- Sidebar Navigation (Group) -->
        <div id="u394" class="ax_default" data-label="Sidebar Navigation" data-left="22" data-top="180" data-width="300" data-height="644" layer-opacity="1">

          <!-- Dashboard Button (Rectangle) -->
          <div id="u395" class="ax_default primary_button transition notrs" data-label="Dashboard Button">
            <div id="u395_div" class=""></div>
            <div id="u395_text" class="text ">
              <p><span>Dashboard</span></p>
            </div>
          </div>

          <!-- Administrator Options Group (Group) -->
          <div id="u396" class="ax_default" data-label="Administrator Options Group" data-left="22" data-top="213" data-width="300" data-height="166" layer-opacity="1">

            <!-- Administrator Options (Rectangle) -->
            <div id="u397" class="ax_default label transition notrs" data-label="Administrator Options">
              <div id="u397_div" class=""></div>
              <div id="u397_text" class="text ">
                <p><span>Administrator Options</span></p>
              </div>
            </div>

            <!-- Expand Admin Options (Rectangle) -->
            <div id="u398" class="ax_default heading_1 ax_default_hidden transition notrs" data-label="Expand Admin Options" style="display:none; visibility: hidden">
              <div id="u398_div" class=""></div>
              <div id="u398_text" class="text ">
                <p><span>+</span></p>
              </div>
            </div>

            <!-- Collapse Admin Options (Rectangle) -->
            <div id="u399" class="ax_default heading_1 transition notrs" data-label="Collapse Admin Options">
              <div id="u399_div" class=""></div>
              <div id="u399_text" class="text ">
                <p><span>–</span></p>
              </div>
            </div>

            <!-- Administrator Buttons (Group) -->
            <div id="u400" class="ax_default" data-label="Administrator Buttons" data-left="22" data-top="251" data-width="300" data-height="128" layer-opacity="1">

              <!-- Routers Button (Rectangle) -->
              <div id="u401" class="ax_default primary_button transition notrs" data-label="Routers Button">
                <div id="u401_div" class=""></div>
                <div id="u401_text" class="text ">
                  <p><span>Routers</span></p>
                </div>
              </div>

              <!-- Customers Button (Rectangle) -->
              <div id="u402" class="ax_default primary_button transition notrs" data-label="Customers Button">
                <div id="u402_div" class=""></div>
                <div id="u402_text" class="text ">
                  <p><span>Customers</span></p>
                </div>
              </div>

              <!-- Users Button (Rectangle) -->
              <div id="u403" class="ax_default primary_button transition notrs" data-label="Users Button">
                <div id="u403_div" class=""></div>
                <div id="u403_text" class="text ">
                  <p><span>Users</span></p>
                </div>
              </div>
            </div>
          </div>

          <!-- User Options Group (Group) -->
          <div id="u404" class="ax_default" data-label="User Options Group" data-left="22" data-top="376" data-width="300" data-height="120" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u405" class="ax_default label transition notrs">
              <div id="u405_div" class=""></div>
              <div id="u405_text" class="text ">
                <p><span>User Options</span></p>
              </div>
            </div>

            <!-- Expand User Options (Rectangle) -->
            <div id="u406" class="ax_default heading_1 ax_default_hidden transition notrs" data-label="Expand User Options" style="display:none; visibility: hidden">
              <div id="u406_div" class=""></div>
              <div id="u406_text" class="text ">
                <p><span>+</span></p>
              </div>
            </div>

            <!-- Collapse User Options (Rectangle) -->
            <div id="u407" class="ax_default heading_1 transition notrs" data-label="Collapse User Options">
              <div id="u407_div" class=""></div>
              <div id="u407_text" class="text ">
                <p><span>–</span></p>
              </div>
            </div>

            <!-- User Buttons (Group) -->
            <div id="u408" class="ax_default" data-label="User Buttons" data-left="22" data-top="414" data-width="300" data-height="82" layer-opacity="1">

              <!-- Router Request Form Button (Rectangle) -->
              <div id="u409" class="ax_default primary_button transition notrs" data-label="Router Request Form Button">
                <div id="u409_div" class=""></div>
                <div id="u409_text" class="text ">
                  <p><span>Router Request Form</span></p>
                </div>
              </div>

              <!-- Order History Button (Rectangle) -->
              <div id="u410" class="ax_default primary_button transition notrs" data-label="Order History Button">
                <div id="u410_div" class=""></div>
                <div id="u410_text" class="text ">
                  <p><span>Order History</span></p>
                </div>
              </div>
            </div>
          </div>

          <!-- Logout Button (Rectangle) -->
          <div id="u411" class="ax_default primary_button transition notrs" data-label="Logout Button">
            <div id="u411_div" class=""></div>
            <div id="u411_text" class="text ">
              <p><span>Logout</span></p>
            </div>
          </div>
        </div>

        <!-- BT Logo (Image) -->
        <div id="u412" class="ax_default image transition notrs" data-label="BT Logo">
          <img id="u412_img" class="img " src="images/login/logo_u5.png"/>
          <div id="u412_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u413" class="ax_default box_1 transition notrs">
        <div id="u413_div" class=""></div>
        <div id="u413_text" class="text ">
          <p><span>Analytics</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
