<!DOCTYPE html>
<html>
  <head>
    <title>Old Customers</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/old_customers/styles.css" type="text/css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com" rel="preconnect"/>
    <link href="https://fonts.gstatic.com" rel="preconnect"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/old_customers/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Resolution (Rectangle) -->
      <div id="u563" class="ax_default box_1 transition notrs" data-label="Resolution">
        <div id="u563_div" class=""></div>
        <div id="u563_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- UI (Group) -->
      <div id="u564" class="ax_default" data-label="UI" data-left="456" data-top="171" data-width="344" data-height="559" layer-opacity="1">

        <!-- Purple Background (Rectangle) -->
        <div id="u565" class="ax_default box_1 transition notrs" data-label="Purple Background">
          <div id="u565_div" class=""></div>
          <div id="u565_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- White Background (Rectangle) -->
        <div id="u566" class="ax_default box_1 transition notrs" data-label="White Background">
          <div id="u566_div" class=""></div>
          <div id="u566_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Profile Icon Group (Group) -->
        <div id="u567" class="ax_default" data-label="Profile Icon Group" data-left="761" data-top="189" data-width="27" data-height="27" layer-opacity="1">

          <!-- Profile Icon Background (Ellipse) -->
          <div id="u568" class="ax_default ellipse transition notrs" data-label="Profile Icon Background">
            <svg data="images/old_directory/profile_icon_background_u477.svg" id="u568_img" class="img generatedImage">

  <defs>
    <pattern id="u568_img_bgp" patternUnits="userSpaceOnUse" alignment="0 0" imageRepeat="None" />
    <mask fill="white" id="u568_img_cl5">
      <path d="M 0 13.5  C 0 5.9399999999999995  5.9399999999999995 0  13.5 0  C 21.060000000000002 0  27 5.9399999999999995  27 13.5  C 27 21.060000000000002  21.060000000000002 27  13.5 27  C 5.9399999999999995 27  0 21.060000000000002  0 13.5  Z " fill-rule="evenodd" />
    </mask>
  </defs>
  <g transform="matrix(1 0 0 1 -761 -240 )">
    <path d="M 0 13.5  C 0 5.9399999999999995  5.9399999999999995 0  13.5 0  C 21.060000000000002 0  27 5.9399999999999995  27 13.5  C 27 21.060000000000002  21.060000000000002 27  13.5 27  C 5.9399999999999995 27  0 21.060000000000002  0 13.5  Z " fill-rule="nonzero" fill="rgba(255, 255, 255, 1)" stroke="none" transform="matrix(1 0 0 1 761 240 )" class="fill" />
    <path d="M 0 13.5  C 0 5.9399999999999995  5.9399999999999995 0  13.5 0  C 21.060000000000002 0  27 5.9399999999999995  27 13.5  C 27 21.060000000000002  21.060000000000002 27  13.5 27  C 5.9399999999999995 27  0 21.060000000000002  0 13.5  Z " stroke-width="0" stroke-dasharray="0" stroke="rgba(121, 121, 121, 1)" fill="none" transform="matrix(1 0 0 1 761 240 )" class="stroke" mask="url(#u568_img_cl5)" />
  </g>
            </svg>
            <div id="u568_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Profile Icon (Image) -->
          <div id="u569" class="ax_default image transition notrs" data-label="Profile Icon">
            <img id="u569_img" class="img " src="images/old_directory/profile_icon_u478.png"/>
            <div id="u569_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Back Button Group (Group) -->
        <div id="u570" class="ax_default" data-label="Back Button Group" data-left="468" data-top="190" data-width="16" data-height="25" layer-opacity="1">

          <!-- Back Arrow (Line) -->
          <div id="u571" class="ax_default arrow transition notrs" data-label="Back Arrow">
            <svg data="images/old_directory/back_arrow_u480.svg" id="u571_img" class="img generatedImage">

  <g transform="matrix(1 0 0 1 -455 -238 )">
    <path d="M -4 14  L 8 2.5  L -4 -9  L -4 14  Z " fill-rule="nonzero" fill="rgba(255, 255, 255, 1)" stroke="none" transform="matrix(1 0 0 1 468 251 )" class="arrowhead" />
  </g>
            </svg>
            <div id="u571_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Back Link (Rectangle) -->
          <div id="u572" class="ax_default box_1 transition notrs" data-label="Back Link">
            <div id="u572_div" class=""></div>
            <div id="u572_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u573" class="ax_default heading_2 transition notrs">
          <div id="u573_div" class=""></div>
          <div id="u573_text" class="text ">
            <p><span>Customers</span></p>
          </div>
        </div>

        <!-- Logo (Image) -->
        <div id="u574" class="ax_default image transition notrs" data-label="Logo">
          <img id="u574_img" class="img " src="images/login/logo_u5.png"/>
          <div id="u574_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Customers Form Group (Group) -->
      <div id="u575" class="ax_default" data-label="Customers Form Group" data-left="478" data-top="280" data-width="300" data-height="424" layer-opacity="1">

        <!-- Existing Customers Group (Group) -->
        <div id="u576" class="ax_default" data-label="Existing Customers Group" data-left="478" data-top="280" data-width="300" data-height="61" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u577" class="ax_default label transition notrs">
            <div id="u577_div" class=""></div>
            <div id="u577_text" class="text ">
              <p><span>Existing Customers</span></p>
            </div>
          </div>

          <!-- Add New Customer (Rectangle) -->
          <div id="u578" class="ax_default heading_1 transition notrs" data-label="Add New Customer">
            <div id="u578_div" class=""></div>
            <div id="u578_text" class="text ">
              <p><span>+</span></p>
            </div>
          </div>

          <!-- Customer Selection (Droplist) -->
          <div id="u579" class="ax_default droplist transition notrs" data-label="Customer Selection">
            <div id="u579_div" class=""></div>
            <select id="u579_input" class="u579_input">
              <option class="u579_input_option" value="Select a customer...">Select a customer...</option>
              <option class="u579_input_option" value="Cash Machines">Cash Machines</option>
              <option class="u579_input_option" value="Industrial Signalling">Industrial Signalling</option>
              <option class="u579_input_option" value="Water Utility 1">Water Utility 1</option>
              <option class="u579_input_option" value="Water Utility 2">Water Utility 2</option>
              <option class="u579_input_option" value="Water Utility 3">Water Utility 3</option>
            </select>
          </div>
        </div>

        <!-- Router Presets Group (Group) -->
        <div id="u580" class="ax_default" data-label="Router Presets Group" data-left="478" data-top="340" data-width="300" data-height="317" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u581" class="ax_default label transition notrs">
            <div id="u581_div" class=""></div>
            <div id="u581_text" class="text ">
              <p><span>Router Presets</span></p>
            </div>
          </div>

          <!-- Add New Router Preset (Rectangle) -->
          <div id="u582" class="ax_default heading_1 transition notrs" data-label="Add New Router Preset">
            <div id="u582_div" class=""></div>
            <div id="u582_text" class="text ">
              <p><span>+</span></p>
            </div>
          </div>

          <!-- Customers -> Routers (Dynamic panel) -->
          <div id="u583" class="ax_default" data-label="Customers -&gt; Routers">
            <div id="u583_state0" class="panel_state" data-label="Cash Machines State" style="">
              <div id="u583_state0_content" class="panel_state_content">

                <!-- Routers -> Connections (Dynamic panel) -->
                <div id="u584" class="ax_default" data-label="Routers -&gt; Connections">
                  <div id="u584_state0" class="panel_state" data-label="Virtual Access - GW6650V State" style="">
                    <div id="u584_state0_content" class="panel_state_content">

                      <!-- Primary Outside Connections (Group) -->
                      <div id="u585" class="ax_default" data-label="Primary Outside Connections" data-left="0" data-top="-30" data-width="300" data-height="56" layer-opacity="1">

                        <!-- Unnamed (Rectangle) -->
                        <div id="u586" class="ax_default label transition notrs">
                          <div id="u586_div" class=""></div>
                          <div id="u586_text" class="text ">
                            <p><span>Primary Outside Connections</span></p>
                          </div>
                        </div>

                        <!-- Virtual Access - GW6650V Number of Primary Outside Connections (Droplist) -->
                        <div id="u587" class="ax_default droplist disabled transition notrs" data-label="Virtual Access - GW6650V Number of Primary Outside Connections">
                          <div id="u587_div" class="disabled"></div>
                          <select id="u587_input" class="u587_input" disabled>
                            <option class="u587_input_option" value="Number">Number</option>
                            <option class="u587_input_option" value="1">1</option>
                            <option class="u587_input_option" value="2">2</option>
                            <option class="u587_input_option" value="3">3</option>
                            <option class="u587_input_option" value="4">4</option>
                            <option class="u587_input_option" value="5">5</option>
                            <option class="u587_input_option" value="6">6</option>
                            <option class="u587_input_option" value="7">7</option>
                            <option class="u587_input_option" value="8">8</option>
                          </select>
                        </div>

                        <!-- Virtual Access - GW6650V Primary Outside Connections (Droplist) -->
                        <div id="u588" class="ax_default droplist disabled transition notrs" data-label="Virtual Access - GW6650V Primary Outside Connections">
                          <div id="u588_div" class="disabled"></div>
                          <select id="u588_input" class="u588_input" disabled>
                            <option class="u588_input_option" value="Select primary outside connections...">Select primary outside connections...</option>
                            <option class="u588_input_option" value="Auto-select">Auto-select</option>
                            <option class="u588_input_option" value="Mobile Radio - Roaming SIM">Mobile Radio - Roaming SIM</option>
                            <option class="u588_input_option" value="Mobile Radio - UK Sim">Mobile Radio - UK Sim</option>
                            <option class="u588_input_option" value="SOGEA - Private Broadband">SOGEA - Private Broadband</option>
                            <option class="u588_input_option" value="FTTP - Private Broadband">FTTP - Private Broadband</option>
                            <option class="u588_input_option" value="FTTP - Internet">FTTP - Internet</option>
                            <option class="u588_input_option" value="VSAT Satellite - Internet">VSAT Satellite - Internet</option>
                            <option class="u588_input_option" value="ADSL - Private Broadband">ADSL - Private Broadband</option>
                            <option class="u588_input_option" value="ADSL - Internet">ADSL - Internet</option>
                          </select>
                        </div>
                      </div>

                      <!-- Secondary Outside Connections (Group) -->
                      <div id="u589" class="ax_default" data-label="Secondary Outside Connections" data-left="0" data-top="32" data-width="300" data-height="56" layer-opacity="1">

                        <!-- Unnamed (Rectangle) -->
                        <div id="u590" class="ax_default label transition notrs">
                          <div id="u590_div" class=""></div>
                          <div id="u590_text" class="text ">
                            <p><span>Secondary Outside Connections</span></p>
                          </div>
                        </div>

                        <!-- Virtual Access - GW6650V Number of Secondary Outside Connections (Droplist) -->
                        <div id="u591" class="ax_default droplist disabled transition notrs" data-label="Virtual Access - GW6650V Number of Secondary Outside Connections">
                          <div id="u591_div" class="disabled"></div>
                          <select id="u591_input" class="u591_input" disabled>
                            <option class="u591_input_option" value="Number">Number</option>
                            <option class="u591_input_option" value="0">0</option>
                            <option class="u591_input_option" value="1">1</option>
                            <option class="u591_input_option" value="2">2</option>
                            <option class="u591_input_option" value="3">3</option>
                            <option class="u591_input_option" value="4">4</option>
                            <option class="u591_input_option" value="5">5</option>
                            <option class="u591_input_option" value="6">6</option>
                            <option class="u591_input_option" value="7">7</option>
                            <option class="u591_input_option" value="8">8</option>
                          </select>
                        </div>

                        <!-- Virtual Access - GW6650V Secondary Outside Connections (Droplist) -->
                        <div id="u592" class="ax_default droplist disabled transition notrs" data-label="Virtual Access - GW6650V Secondary Outside Connections">
                          <div id="u592_div" class="disabled"></div>
                          <select id="u592_input" class="u592_input" disabled>
                            <option class="u592_input_option" value="Select secondary outside connections...">Select secondary outside connections...</option>
                            <option class="u592_input_option" value="Mobile Radio - Roaming SIM">Mobile Radio - Roaming SIM</option>
                            <option class="u592_input_option" value="Mobile Radio - UK Sim">Mobile Radio - UK Sim</option>
                            <option class="u592_input_option" value="SOGEA - Private Broadband">SOGEA - Private Broadband</option>
                            <option class="u592_input_option" value="FTTP - Private Broadband">FTTP - Private Broadband</option>
                            <option class="u592_input_option" value="FTTP - Internet">FTTP - Internet</option>
                            <option class="u592_input_option" value="VSAT Satellite - Internet">VSAT Satellite - Internet</option>
                            <option class="u592_input_option" value="ADSL - Private Broadband">ADSL - Private Broadband</option>
                            <option class="u592_input_option" value="ADSL - Internet">ADSL - Internet</option>
                          </select>
                        </div>
                      </div>

                      <!-- Inside Connections (Group) -->
                      <div id="u593" class="ax_default" data-label="Inside Connections" data-left="0" data-top="94" data-width="300" data-height="126" layer-opacity="1">

                        <!-- Inside Connections (Rectangle) -->
                        <div id="u594" class="ax_default label transition notrs" data-label="Inside Connections">
                          <div id="u594_div" class=""></div>
                          <div id="u594_text" class="text ">
                            <p><span>Inside Connections</span></p>
                          </div>
                        </div>

                        <!-- Virtual Access - GW6650V Number of Inside Connections (Droplist) -->
                        <div id="u595" class="ax_default droplist disabled transition notrs" data-label="Virtual Access - GW6650V Number of Inside Connections">
                          <div id="u595_div" class="disabled"></div>
                          <select id="u595_input" class="u595_input" disabled>
                            <option class="u595_input_option" value="Number">Number</option>
                            <option class="u595_input_option" value="1">1</option>
                          </select>
                        </div>

                        <!-- Virtual Access - GW6650V Inside Connections (Droplist) -->
                        <div id="u596" class="ax_default droplist disabled transition notrs" data-label="Virtual Access - GW6650V Inside Connections">
                          <div id="u596_div" class="disabled"></div>
                          <select id="u596_input" class="u596_input" disabled>
                            <option class="u596_input_option" value="Select inside connections...">Select inside connections...</option>
                            <option class="u596_input_option" value="Ethernet">Ethernet</option>
                          </select>
                        </div>

                        <!-- Unnamed (Rectangle) -->
                        <div id="u597" class="ax_default label transition notrs">
                          <div id="u597_div" class=""></div>
                          <div id="u597_text" class="text ">
                            <p><span>Number of Ports</span></p>
                          </div>
                        </div>

                        <!-- Virtual Access - GW6650V Number of Ports (Droplist) -->
                        <div id="u598" class="ax_default droplist disabled transition notrs" data-label="Virtual Access - GW6650V Number of Ports">
                          <div id="u598_div" class="disabled"></div>
                          <select id="u598_input" class="u598_input" disabled>
                            <option class="u598_input_option" value="Number of ports...">Number of ports...</option>
                            <option class="u598_input_option" value="1">1</option>
                          </select>
                        </div>

                        <!-- Unnamed (Rectangle) -->
                        <div id="u599" class="ax_default label transition notrs">
                          <div id="u599_div" class=""></div>
                          <div id="u599_text" class="text ">
                            <p><span>VLANs</span></p>
                          </div>
                        </div>

                        <!-- Virtual Access - GW6650V VLANs (Droplist) -->
                        <div id="u600" class="ax_default droplist disabled transition notrs" data-label="Virtual Access - GW6650V VLANs">
                          <div id="u600_div" class="disabled"></div>
                          <select id="u600_input" class="u600_input" disabled>
                            <option class="u600_input_option" value="Select VLAN configuration...">Select VLAN configuration...</option>
                            <option class="u600_input_option" value="Unspecified">Unspecified</option>
                            <option class="u600_input_option" value="Specified">Specified</option>
                            <option class="u600_input_option" value="Open Trunk">Open Trunk</option>
                          </select>
                        </div>

                        <!-- DHCP (Rectangle) -->
                        <div id="u601" class="ax_default label transition notrs" data-label="DHCP">
                          <div id="u601_div" class=""></div>
                          <div id="u601_text" class="text ">
                            <p><span>DHCP</span></p>
                          </div>
                        </div>

                        <!-- Virtual Access - GW6650V DHCP (Droplist) -->
                        <div id="u602" class="ax_default droplist disabled transition notrs" data-label="Virtual Access - GW6650V DHCP">
                          <div id="u602_div" class="disabled"></div>
                          <select id="u602_input" class="u602_input" disabled>
                            <option class="u602_input_option" value="Select DHCP configuration...">Select DHCP configuration...</option>
                            <option class="u602_input_option" value="Yes">Yes</option>
                            <option class="u602_input_option" value="No">No</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Cash Machines Routers (Droplist) -->
                <div id="u603" class="ax_default droplist disabled transition notrs" data-label="Cash Machines Routers">
                  <div id="u603_div" class="disabled"></div>
                  <select id="u603_input" class="u603_input" disabled>
                    <option class="u603_input_option" value="Select a router preset...">Select a router preset...</option>
                    <option class="u603_input_option" value="Virtual Access - GW6650V">Virtual Access - GW6650V</option>
                    <option class="u603_input_option" value="Virtual Access - GW1042M">Virtual Access - GW1042M</option>
                  </select>
                </div>
              </div>
            </div>
            <div id="u583_state1" class="panel_state" data-label="Industrial Signalling State" style="visibility: hidden;">
              <div id="u583_state1_content" class="panel_state_content">

                <!-- Industrial Signalling Routers (Droplist) -->
                <div id="u604" class="ax_default droplist disabled transition notrs" data-label="Industrial Signalling Routers">
                  <div id="u604_div" class="disabled"></div>
                  <select id="u604_input" class="u604_input" disabled>
                    <option class="u604_input_option" value="Select a router preset...">Select a router preset...</option>
                    <option class="u604_input_option" value="Virtual Access - GW1042M">Virtual Access - GW1042M</option>
                  </select>
                </div>
              </div>
            </div>
            <div id="u583_state2" class="panel_state" data-label="Water Utility 1 State" style="visibility: hidden;">
              <div id="u583_state2_content" class="panel_state_content">

                <!-- Water Utility 1 Routers (Droplist) -->
                <div id="u605" class="ax_default droplist disabled transition notrs" data-label="Water Utility 1 Routers">
                  <div id="u605_div" class="disabled"></div>
                  <select id="u605_input" class="u605_input" disabled>
                    <option class="u605_input_option" value="Select a router preset...">Select a router preset...</option>
                    <option class="u605_input_option" value="Virtual Access - GW1042M">Virtual Access - GW1042M</option>
                    <option class="u605_input_option" value="Westermo Merlin 4708">Westermo Merlin 4708</option>
                  </select>
                </div>
              </div>
            </div>
            <div id="u583_state3" class="panel_state" data-label="Water Utility 2 State" style="visibility: hidden;">
              <div id="u583_state3_content" class="panel_state_content">

                <!-- Water Utility 2 Routers (Droplist) -->
                <div id="u606" class="ax_default droplist disabled transition notrs" data-label="Water Utility 2 Routers">
                  <div id="u606_div" class="disabled"></div>
                  <select id="u606_input" class="u606_input" disabled>
                    <option class="u606_input_option" value="Select a router preset...">Select a router preset...</option>
                    <option class="u606_input_option" value="Westermo Merlin 4708">Westermo Merlin 4708</option>
                  </select>
                </div>
              </div>
            </div>
            <div id="u583_state4" class="panel_state" data-label="Water Utility 3 State" style="visibility: hidden;">
              <div id="u583_state4_content" class="panel_state_content">

                <!-- Water Utility 3 Routers (Droplist) -->
                <div id="u607" class="ax_default droplist disabled transition notrs" data-label="Water Utility 3 Routers">
                  <div id="u607_div" class="disabled"></div>
                  <select id="u607_input" class="u607_input" disabled>
                    <option class="u607_input_option" value="Select a router preset...">Select a router preset...</option>
                    <option class="u607_input_option" value="Virtual Access - GW6650V">Virtual Access - GW6650V</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Save Button (Rectangle) -->
        <div id="u608" class="ax_default primary_button disabled transition notrs" data-label="Save Button">
          <div id="u608_div" class="disabled"></div>
          <div id="u608_text" class="text ">
            <p><span>Save</span></p>
          </div>
        </div>

        <!-- Delete Button (Rectangle) -->
        <div id="u609" class="ax_default primary_button disabled transition notrs" data-label="Delete Button">
          <div id="u609_div" class="disabled"></div>
          <div id="u609_text" class="text ">
            <p><span>Delete</span></p>
          </div>
        </div>
      </div>

      <!-- Comments (Group) -->
      <div id="u610" class="ax_default" data-label="Comments" data-left="55" data-top="286" data-width="1223" data-height="124" layer-opacity="1">

        <!-- Unnamed (Line) -->
        <div id="u611" class="compound ax_default arrow transition notrs" data-height="2" data-width="38" CompoundMode="true">
          <svg data="images/old_directory/u496.svg" id="u611_img" class="singleImg img generatedImage">

  <g transform="matrix(1 0 0 1 -855 -378 )">
    <path d="M 0 1  L 32.00000029217878 1  " stroke-width="2" stroke-dasharray="0" stroke="rgba(0, 0, 0, 1)" fill="none" transform="matrix(1 0 0 1 856 388 )" class="stroke" />
    <path d="M 31 8.6  L 38 1  L 31 -6.6  L 31 8.6  Z " fill-rule="nonzero" fill="rgba(0, 0, 0, 1)" stroke="none" transform="matrix(1 0 0 1 856 388 )" class="arrowhead" />
  </g>
          </svg>
          <div id="u611p000" class="ax_vector_shape" WidgetTopLeftX="-0.4523809523809524" WidgetTopLeftY="-0.16666666666666666" WidgetTopRightX="0.4523809523809524" WidgetTopRightY="-0.16666666666666666" WidgetBottomLeftX="-0.4523809523809524" WidgetBottomLeftY="0.16666666666666666" WidgetBottomRightX="0.4523809523809524" WidgetBottomRightY="0.16666666666666666">
            <svg data="images/old_customers/u611p000.svg" id="u611p000_img" class="img generatedImage" viewbox="858 299 42 4">

  <g transform="matrix(-1 -0 -0 -1 1758 602 )">
    <path d="M 0 1  L 32.00000029217878 1  " stroke-width="2" stroke-dasharray="0" stroke="rgba(0, 0, 0, 1)" fill="none" transform="matrix(-1 1.2246467991473532E-16 -1.2246467991473532E-16 -1 898 302 )" class="stroke" />
    <path d="M 31 8.6  L 38 1  L 31 -6.6  L 31 8.6  Z " fill-rule="nonzero" fill="rgba(0, 0, 0, 1)" stroke="none" transform="matrix(-1 1.2246467991473532E-16 -1.2246467991473532E-16 -1 898 302 )" class="arrowhead" />
  </g>
            </svg>
          </div>
          <div id="u611p001" class="ax_vector_shape" WidgetTopLeftX="0" WidgetTopLeftY="0" WidgetTopRightX="-9.5" WidgetTopRightY="0" WidgetBottomLeftX="0" WidgetBottomLeftY="-0.5" WidgetBottomRightX="-9.5" WidgetBottomRightY="-0.5">
            <svg data="images/old_customers/u611p001.svg" id="u611p001_img" class="img generatedImage" viewbox="896 301 4 2">

  <path d="M 0 1  L 32.00000029217878 1  " stroke-width="2" stroke-dasharray="0" stroke="rgba(0, 0, 0, 1)" fill="none" transform="matrix(-1 1.2246467991473532E-16 -1.2246467991473532E-16 -1 898 302 )" class="stroke" />
  <path d="M 31 8.6  L 38 1  L 31 -6.6  L 31 8.6  Z " fill-rule="nonzero" fill="rgba(0, 0, 0, 1)" stroke="none" transform="matrix(-1 1.2246467991473532E-16 -1.2246467991473532E-16 -1 898 302 )" class="arrowhead" />
            </svg>
          </div>
          <div id="u611p002" class="ax_vector_shape" WidgetTopLeftX="1.3333333333333333" WidgetTopLeftY="0.045454545454545456" WidgetTopRightX="-0.25" WidgetTopRightY="0.045454545454545456" WidgetBottomLeftX="1.3333333333333333" WidgetBottomLeftY="-0.045454545454545456" WidgetBottomRightX="-0.25" WidgetBottomRightY="-0.045454545454545456">
            <svg data="images/old_customers/u611p002.svg" id="u611p002_img" class="img generatedImage" viewbox="854 291 24 20">

  <path d="M 0 1  L 32.00000029217878 1  " stroke-width="2" stroke-dasharray="0" stroke="rgba(0, 0, 0, 1)" fill="none" transform="matrix(-1 1.2246467991473532E-16 -1.2246467991473532E-16 -1 898 302 )" class="stroke" />
  <path d="M 31 8.6  L 38 1  L 31 -6.6  L 31 8.6  Z " fill-rule="nonzero" fill="rgba(0, 0, 0, 1)" stroke="none" transform="matrix(-1 1.2246467991473532E-16 -1.2246467991473532E-16 -1 898 302 )" class="arrowhead" />
            </svg>
          </div>
          <div id="u611_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u612" class="ax_default box_1 transition notrs">
          <div id="u612_div" class=""></div>
          <div id="u612_text" class="text ">
            <p><span style="font-family:&quot;Arial&quot;, sans-serif;font-weight:400;">The + signs here represents &quot;Add&quot;, so as to </span><span style="font-family:&quot;Arial Bold&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">add</span><span style="font-family:&quot;Arial&quot;, sans-serif;font-weight:400;"> a new customer or router preset. When clicked, the dropdown box below will become a text field to allow text input.</span></p>
          </div>
        </div>

        <!-- Unnamed (Line) -->
        <div id="u613" class="compound ax_default arrow transition notrs" data-height="2" data-width="38" CompoundMode="true">
          <svg data="images/old_directory/u496.svg" id="u613_img" class="singleImg img generatedImage">

  <g transform="matrix(1 0 0 1 -855 -378 )">
    <path d="M 0 1  L 32.00000029217878 1  " stroke-width="2" stroke-dasharray="0" stroke="rgba(0, 0, 0, 1)" fill="none" transform="matrix(1 0 0 1 856 388 )" class="stroke" />
    <path d="M 31 8.6  L 38 1  L 31 -6.6  L 31 8.6  Z " fill-rule="nonzero" fill="rgba(0, 0, 0, 1)" stroke="none" transform="matrix(1 0 0 1 856 388 )" class="arrowhead" />
  </g>
          </svg>
          <div id="u613p000" class="ax_vector_shape" WidgetTopLeftX="-0.4523809523809524" WidgetTopLeftY="-0.16666666666666666" WidgetTopRightX="0.4523809523809524" WidgetTopRightY="-0.16666666666666666" WidgetBottomLeftX="-0.4523809523809524" WidgetBottomLeftY="0.16666666666666666" WidgetBottomRightX="0.4523809523809524" WidgetBottomRightY="0.16666666666666666">
            <svg data="images/old_customers/u613p000.svg" id="u613p000_img" class="img generatedImage" viewbox="858 351 42 4">

  <g transform="matrix(-1 -0 -0 -1 1758 706 )">
    <path d="M 0 1  L 32.00000029217878 1  " stroke-width="2" stroke-dasharray="0" stroke="rgba(0, 0, 0, 1)" fill="none" transform="matrix(-1 1.2246467991473532E-16 -1.2246467991473532E-16 -1 898 354 )" class="stroke" />
    <path d="M 31 8.6  L 38 1  L 31 -6.6  L 31 8.6  Z " fill-rule="nonzero" fill="rgba(0, 0, 0, 1)" stroke="none" transform="matrix(-1 1.2246467991473532E-16 -1.2246467991473532E-16 -1 898 354 )" class="arrowhead" />
  </g>
            </svg>
          </div>
          <div id="u613p001" class="ax_vector_shape" WidgetTopLeftX="0" WidgetTopLeftY="0" WidgetTopRightX="-9.5" WidgetTopRightY="0" WidgetBottomLeftX="0" WidgetBottomLeftY="-0.5" WidgetBottomRightX="-9.5" WidgetBottomRightY="-0.5">
            <svg data="images/old_customers/u613p001.svg" id="u613p001_img" class="img generatedImage" viewbox="896 353 4 2">

  <path d="M 0 1  L 32.00000029217878 1  " stroke-width="2" stroke-dasharray="0" stroke="rgba(0, 0, 0, 1)" fill="none" transform="matrix(-1 1.2246467991473532E-16 -1.2246467991473532E-16 -1 898 354 )" class="stroke" />
  <path d="M 31 8.6  L 38 1  L 31 -6.6  L 31 8.6  Z " fill-rule="nonzero" fill="rgba(0, 0, 0, 1)" stroke="none" transform="matrix(-1 1.2246467991473532E-16 -1.2246467991473532E-16 -1 898 354 )" class="arrowhead" />
            </svg>
          </div>
          <div id="u613p002" class="ax_vector_shape" WidgetTopLeftX="1.3333333333333333" WidgetTopLeftY="0.045454545454545456" WidgetTopRightX="-0.25" WidgetTopRightY="0.045454545454545456" WidgetBottomLeftX="1.3333333333333333" WidgetBottomLeftY="-0.045454545454545456" WidgetBottomRightX="-0.25" WidgetBottomRightY="-0.045454545454545456">
            <svg data="images/old_customers/u613p002.svg" id="u613p002_img" class="img generatedImage" viewbox="854 343 24 20">

  <path d="M 0 1  L 32.00000029217878 1  " stroke-width="2" stroke-dasharray="0" stroke="rgba(0, 0, 0, 1)" fill="none" transform="matrix(-1 1.2246467991473532E-16 -1.2246467991473532E-16 -1 898 354 )" class="stroke" />
  <path d="M 31 8.6  L 38 1  L 31 -6.6  L 31 8.6  Z " fill-rule="nonzero" fill="rgba(0, 0, 0, 1)" stroke="none" transform="matrix(-1 1.2246467991473532E-16 -1.2246467991473532E-16 -1 898 354 )" class="arrowhead" />
            </svg>
          </div>
          <div id="u613_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Line) -->
        <div id="u614" class="compound ax_default arrow transition notrs" data-height="2" data-width="45" CompoundMode="true">
          <svg data="images/old_directory/u506.svg" id="u614_img" class="singleImg img generatedImage">

  <g transform="matrix(1 0 0 1 -362 -422 )">
    <path d="M 0 1  L 38.99999999960723 1  " stroke-width="2" stroke-dasharray="0" stroke="rgba(0, 0, 0, 1)" fill="none" transform="matrix(1 0 0 1 363 432 )" class="stroke" />
    <path d="M 38 8.6  L 45 1  L 38 -6.6  L 38 8.6  Z " fill-rule="nonzero" fill="rgba(0, 0, 0, 1)" stroke="none" transform="matrix(1 0 0 1 363 432 )" class="arrowhead" />
  </g>
          </svg>
          <div id="u614p000" class="ax_vector_shape" WidgetTopLeftX="-0.46" WidgetTopLeftY="-0.25" WidgetTopRightX="0.44" WidgetTopRightY="-0.25" WidgetBottomLeftX="-0.46" WidgetBottomLeftY="0.25" WidgetBottomRightX="0.44" WidgetBottomRightY="0.25">
            <svg data="images/old_customers/u614p000.svg" id="u614p000_img" class="img generatedImage" viewbox="356 383 50 2">

  <path d="M 0 1  L 38.99999999960723 1  " stroke-width="2" stroke-dasharray="0" stroke="rgba(0, 0, 0, 1)" fill="none" transform="matrix(1 0 0 1 358 383 )" class="stroke" />
  <path d="M 38 8.6  L 45 1  L 38 -6.6  L 38 8.6  Z " fill-rule="nonzero" fill="rgba(0, 0, 0, 1)" stroke="none" transform="matrix(1 0 0 1 358 383 )" class="arrowhead" />
            </svg>
          </div>
          <div id="u614p001" class="ax_vector_shape" WidgetTopLeftX="0" WidgetTopLeftY="-0.25" WidgetTopRightX="11.25" WidgetTopRightY="-0.25" WidgetBottomLeftX="0" WidgetBottomLeftY="0.25" WidgetBottomRightX="11.25" WidgetBottomRightY="0.25">
            <svg data="images/old_customers/u614p001.svg" id="u614p001_img" class="img generatedImage" viewbox="356 383 4 2">

  <path d="M 0 1  L 38.99999999960723 1  " stroke-width="2" stroke-dasharray="0" stroke="rgba(0, 0, 0, 1)" fill="none" transform="matrix(1 0 0 1 358 383 )" class="stroke" />
  <path d="M 38 8.6  L 45 1  L 38 -6.6  L 38 8.6  Z " fill-rule="nonzero" fill="rgba(0, 0, 0, 1)" stroke="none" transform="matrix(1 0 0 1 358 383 )" class="arrowhead" />
            </svg>
          </div>
          <div id="u614p002" class="ax_vector_shape" WidgetTopLeftX="1.6666666666666667" WidgetTopLeftY="0.041666666666666664" WidgetTopRightX="-0.20833333333333334" WidgetTopRightY="0.041666666666666664" WidgetBottomLeftX="1.6666666666666667" WidgetBottomLeftY="-0.041666666666666664" WidgetBottomRightX="-0.20833333333333334" WidgetBottomRightY="-0.041666666666666664">
            <svg data="images/old_customers/u614p002.svg" id="u614p002_img" class="img generatedImage" viewbox="386 373 24 22">

  <g transform="matrix(-1 -0 -0 -1 796 768 )">
    <path d="M 0 1  L 38.99999999960723 1  " stroke-width="2" stroke-dasharray="0" stroke="rgba(0, 0, 0, 1)" fill="none" transform="matrix(1 0 0 1 358 383 )" class="stroke" />
    <path d="M 38 8.6  L 45 1  L 38 -6.6  L 38 8.6  Z " fill-rule="nonzero" fill="rgba(0, 0, 0, 1)" stroke="none" transform="matrix(1 0 0 1 358 383 )" class="arrowhead" />
  </g>
            </svg>
          </div>
          <div id="u614_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u615" class="ax_default box_1 transition notrs">
          <div id="u615_div" class=""></div>
          <div id="u615_text" class="text ">
            <p><span>This will list all of the existing router presets that have been made for this specific customer.</span></p>
          </div>
        </div>

        <!-- Unnamed (Line) -->
        <div id="u616" class="compound ax_default arrow transition notrs" data-height="2" data-width="45" CompoundMode="true">
          <svg data="images/old_directory/u506.svg" id="u616_img" class="singleImg img generatedImage">

  <g transform="matrix(1 0 0 1 -362 -422 )">
    <path d="M 0 1  L 38.99999999960723 1  " stroke-width="2" stroke-dasharray="0" stroke="rgba(0, 0, 0, 1)" fill="none" transform="matrix(1 0 0 1 363 432 )" class="stroke" />
    <path d="M 38 8.6  L 45 1  L 38 -6.6  L 38 8.6  Z " fill-rule="nonzero" fill="rgba(0, 0, 0, 1)" stroke="none" transform="matrix(1 0 0 1 363 432 )" class="arrowhead" />
  </g>
          </svg>
          <div id="u616p000" class="ax_vector_shape" WidgetTopLeftX="-0.46" WidgetTopLeftY="-0.25" WidgetTopRightX="0.44" WidgetTopRightY="-0.25" WidgetBottomLeftX="-0.46" WidgetBottomLeftY="0.25" WidgetBottomRightX="0.44" WidgetBottomRightY="0.25">
            <svg data="images/old_customers/u616p000.svg" id="u616p000_img" class="img generatedImage" viewbox="356 327 50 2">

  <path d="M 0 1  L 38.99999999960723 1  " stroke-width="2" stroke-dasharray="0" stroke="rgba(0, 0, 0, 1)" fill="none" transform="matrix(1 0 0 1 358 327 )" class="stroke" />
  <path d="M 38 8.6  L 45 1  L 38 -6.6  L 38 8.6  Z " fill-rule="nonzero" fill="rgba(0, 0, 0, 1)" stroke="none" transform="matrix(1 0 0 1 358 327 )" class="arrowhead" />
            </svg>
          </div>
          <div id="u616p001" class="ax_vector_shape" WidgetTopLeftX="0" WidgetTopLeftY="-0.25" WidgetTopRightX="11.25" WidgetTopRightY="-0.25" WidgetBottomLeftX="0" WidgetBottomLeftY="0.25" WidgetBottomRightX="11.25" WidgetBottomRightY="0.25">
            <svg data="images/old_customers/u616p001.svg" id="u616p001_img" class="img generatedImage" viewbox="356 327 4 2">

  <path d="M 0 1  L 38.99999999960723 1  " stroke-width="2" stroke-dasharray="0" stroke="rgba(0, 0, 0, 1)" fill="none" transform="matrix(1 0 0 1 358 327 )" class="stroke" />
  <path d="M 38 8.6  L 45 1  L 38 -6.6  L 38 8.6  Z " fill-rule="nonzero" fill="rgba(0, 0, 0, 1)" stroke="none" transform="matrix(1 0 0 1 358 327 )" class="arrowhead" />
            </svg>
          </div>
          <div id="u616p002" class="ax_vector_shape" WidgetTopLeftX="1.6666666666666667" WidgetTopLeftY="0.041666666666666664" WidgetTopRightX="-0.20833333333333334" WidgetTopRightY="0.041666666666666664" WidgetBottomLeftX="1.6666666666666667" WidgetBottomLeftY="-0.041666666666666664" WidgetBottomRightX="-0.20833333333333334" WidgetBottomRightY="-0.041666666666666664">
            <svg data="images/old_customers/u616p002.svg" id="u616p002_img" class="img generatedImage" viewbox="386 317 24 22">

  <g transform="matrix(-1 -0 -0 -1 796 656 )">
    <path d="M 0 1  L 38.99999999960723 1  " stroke-width="2" stroke-dasharray="0" stroke="rgba(0, 0, 0, 1)" fill="none" transform="matrix(1 0 0 1 358 327 )" class="stroke" />
    <path d="M 38 8.6  L 45 1  L 38 -6.6  L 38 8.6  Z " fill-rule="nonzero" fill="rgba(0, 0, 0, 1)" stroke="none" transform="matrix(1 0 0 1 358 327 )" class="arrowhead" />
  </g>
            </svg>
          </div>
          <div id="u616_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u617" class="ax_default box_1 transition notrs">
          <div id="u617_div" class=""></div>
          <div id="u617_text" class="text ">
            <p><span>Only &quot;Cash Machines&quot; is set up at the moment.</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u618" class="ax_default box_1 transition notrs">
          <div id="u618_div" class=""></div>
          <div id="u618_text" class="text ">
            <p><span>+ signs will be used to collapse the categories instead. Dedicated &quot;add x&quot; buttons will be added instead.</span></p>
          </div>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
