stages:
  - build_back
  - build_front
  - test_back
  - test_front
  - run


variables:
  CI: "false"
  MYSQL_DATABASE: mydb
  MYSQL_USER: root
  MYSQL_PASSWORD: comsc
  DB_HOST: mysql

services:
  - mysql:latest

before_script:
  - apt-get update -y && apt-get install -y curl unzip

build_back:
  stage: build_back
  image: maven:3.9.0-eclipse-temurin-17
  script:
    - cd backend
    - mvn clean package -DskipTests
  artifacts:
    paths:
      - target/*.jar

build_front:
  stage: build_front
  image: node:20
  script:
    - cd frontend
    - npm install
    - npm run build
  artifacts:
    paths:
      - frontend/build

test_back:
  stage: test_back
  image: maven:3.9.0-eclipse-temurin-17
  script:
    - cd backend
    - mvn test

test_front:
  stage: test_front
  image: node:20
  script:
    - cd frontend
    - npm install
    - npm test -- --watchAll=false

run:
  stage: run
  image: maven:3.9.0-eclipse-temurin-17
  services:
    - name: mysql:latest
      alias: mysql
  script:
    - echo "Waiting for MySQL..."
    - sleep 20
    - mysql --host=$DB_HOST --user=$MYSQL_USER --password=$MYSQL_PASSWORD -e "SHOW DATABASES;"
    - mysql --host=$DB_HOST --user=$MYSQL_USER --password=$MYSQL_PASSWORD $MYSQL_DATABASE < backend/src/main/resources/data.sql
    - java -jar target/*.jar &
    - sleep 10
    - curl --fail http://localhost:8080/api/health || exit 1
  only:
    - main